button {
  border: none;
  border-radius: 4px;
  padding: 0.8rem;
  width: 45%;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;

  font-family: "Poppins";
  font-size: 1.1rem;
  color: #fff;

  cursor: pointer;
}

button#list-even {
  background-color: $list-even-color;

  &:hover {
    background-color: $list-even-hover-color;
  }
}

button#list-odd {
  background-color: $list-odd-color;

  &:hover {
    background-color: $list-odd-hover-color;
  }
}

button#list-reset {
  background-color: $list-reset-color;

  &:hover {
    background-color: $list-reset-hover-color;
  }
}