* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-size: 93.75%;
}

body {
  background-color: $body-color;

  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

p {
  text-align: justify;
}

.container {
  background-color: $container-color;
  border-radius: 0.25rem;
  margin: 2rem auto;
  padding: 1rem;
  width: Min(90vw, 800px);
}