$body-color: #D9D9D9;
$header-color: #195962;
$container-color: #fff;

$list-even-color: #F56F6C;
$list-even-hover-color: #f68280;
$list-odd-color: #252932;
$list-odd-hover-color: #313642;
$list-reset-color: #195962;
$list-reset-hover-color: #237e8b;

$number-list-border-color: #195962;